@model Perfomans.Models.Groups
@{
    ViewData["Title"] = "Edit group -";
}

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div style="margin-top: 3em" class="ui segment"> 
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <input type="hidden" id="DepId" name="DepId" value="@ViewBag.DepId" />
                <table class="table_main">
                    <caption>Edit group</caption>
                    <tr>
                        <th>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        </th>
                        <th>
                            @foreach (Parameters i in ViewBag.Parameters)
                            {
                                <div class="ui checkbox">
                                    <input name="selectedItems" type="checkbox" value="@i.Id" @(ViewBag.SelectedItems.Contains(i) ? "checked=\"checked\"" : "") />
                                    <label> @i.Name &nbsp </label>
                                </div>
                            }
                        </th>
                    </tr>
                    </table>
    <div style="margin-left: 30%; margin-top:2em" class="form-group">
        <input type="submit" value="Save" class="btn_create" />
        <a class="btn" asp-action="Index">Back</a>
    </div>
</form>
</div>
    </div>
    <div class="col-sm-3">
    </div>
</div>


