@model Perfomans.Models.Departments

@{
    ViewData["Title"] = "Delete department -";
}

<h3>Are you sure about that?</h3>
<table class="table_main">
    <caption>Delete departament</caption>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayFor(model => model.Name)
         </th>
    </tr>
</table>

<form asp-action="Delete">
      <input type="hidden" asp-for="Id" />
      <input type="submit" value="Delete" class="btn_danger" />    
</form>
<div>
    <a class="btn" asp-action="Index">Back</a>
</div>
