@model Perfomans.Models.Parameters

@{
    ViewData["Title"] = "Create parameter -";
}


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table_main">
        <caption>Create parameter</caption>
        <tr>
            <th>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label asp-for="Coefficient" class="control-label"></label>
                    <input asp-for="Coefficient" class="form-control" />
                    <span asp-validation-for="Coefficient" class="text-danger"></span>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="form-group">
                    <label>Description for mark "1"</label>
                    <input asp-for="Mark_1_description" class="form-control" />
                    <span asp-validation-for="Mark_1_description" class="text-danger"></span>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>Description for mark "2"</label>
                    <input asp-for="Mark_2_description" class="form-control" />
                    <span asp-validation-for="Mark_2_description" class="text-danger"></span>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>Description for mark "3"</label>
                    <input asp-for="Mark_3_description" class="form-control" />
                    <span asp-validation-for="Mark_3_description" class="text-danger"></span>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>Description for mark "4"</label>
                    <input asp-for="Mark_4_description" class="form-control" />
                    <span asp-validation-for="Mark_4_description" class="text-danger"></span>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <label>Description for mark "5"</label>
                    <input asp-for="Mark_5_description" class="form-control" />
                    <span asp-validation-for="Mark_5_description" class="text-danger"></span>
                </div>
            </th>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Create" class="btn_create" />
    </div>
</form>
 
<div>
   <a class="btn" asp-action="Index">Back</a>
</div>

@section Scripts {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
