@model IEnumerable<Perfomans.Models.Departments>
@{
    ViewData["Title"] = "Departments structure -";
}

<body >
    <div style="margin-top: 2em;" class="centered ui cards">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="content">
                    <div class="ui placeholder">
                        <h2 class="ui centered header">
                            @item.Name
                        </h2>
                        @foreach (User u in ViewBag.AllUsers)
                        {
                            if ((u.DepartmentId == item.Id) & (u.RoleId == 4))
                            {
                                <h3 class="ui center aligned sub header">Department head : @u.Name</h3>
                            }
                        }
                    </div>
                </div>
                <div class="sub content">
                    <div style="margin: 1em" class="ui cards">
                        @foreach (User u in ViewBag.AllUsers)
                        {
                            if ((u.DepartmentId == item.Id) & (u.RoleId == 3))
                            {
                                <div class="card">
                                    <div class="content">
                                        <h4 class="ui center aligned sub header">Teamlead : @u.Name</h4>
                                    </div>
                                    <div class="sub content">
                                        Users :
                                        <div style="margin-top: 1em" class="ui middle aligned divided list">
                                            @foreach (User employee in ViewBag.AllUsers)
                                            {
                                                if (employee.SupervisorId == u.Id)
                                                {
                                                    <div class="item">
                                                        <div class="content">
                                                            <a class="header">@employee.Name</a>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <br/>
</body>